{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}My profile{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <section class="text-center mb-4">
            <div class="flex flex-row justify-center mb-1">
                <div class="rounded-full bg-purple-700 text-white dark:text-black dark:bg-green-400 w-24 h-24
            w-min-24 h-min-24 flex items-center justify-center">
                    <span class="text-gray-100 dark:text-gray-900 text-4xl">
                        {{ user.firstname | slice(0, 1) }}{{ user.lastName | slice(0, 1) }}
                    </span>
                </div>
            </div>
            <h2 class="text-2xl font-bold mb-4">{{ user.firstName }} {{ user.lastName }}</h2>
        </section>

        <section class="mb-4">
            <h2 class="text-3xl font-extrabold mb-4">Statistiques</h2>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6">
                {% set reviewAverageFormated = reviewAverage == 0 ? "-" : reviewAverage %}

                {% include 'component/card/card-stat.html.twig'
                    with{'title': 'Created notes', 'data': numberOfCreatedNotes, 'isDark':true} %}

                {% include 'component/card/card-stat.html.twig'
                    with{'title': 'Average score', 'data': reviewAverageFormated, 'isDark':true} %}

            </div>
        </section>

        {% if pagination | length > 0 %}
        <section class="mb-4">
            <h2 class="text-3xl font-extrabold mb-4">Notes</h2>
            <ul class="list-none grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6">
                {% for item in pagination %}
                    {% set path = path('note_view', { 'slug':item.slug }) %}

                    {% include 'component/card/card-note.html.twig' with {
                        'path': path
                    }%}
                {% endfor %}
            </ul>
            {{ knp_pagination_render(pagination) }}
        </section>
        {% endif %}
    </div>
{% endblock %}
