{% extends 'form-center.html.twig' %}

{% block Title %}{% trans %}Sign In{% endtrans %}{% endblock %}

{% block formTitle %}{% trans %}Sign In{% endtrans %}{% endblock %}

{% block form %}
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            {% trans %}You are Signed In as{% endtrans %} {{ app.user.userIdentifier }},
            <a href="{{ path('logout') }}">
                {% trans %}Sign Out{% endtrans %}
            </a>
        </div>
    {% endif %}
    <!--
    <form method="post">
        <label for="inputEmail">Email</label><br/>
        <input
                type="email"
                value="{# {{ last_username }} #}"
                name="email" id="inputEmail"
                placeholder="firstname.lastname@student.school.com"
                required autofocus>

        <br/>

        <label for="inputPassword">Password</label><br/>
        <input type="password" name="password" id="inputPassword" placeholder="********" required>

        <input type="hidden" name="_csrf_token"
               value="{# {{ csrf_token('authenticate') }} #}"
        >

        <label>
            Remember me <input type="checkbox" name="_remember_me">
        </label>

        <br/>

        <button type="submit" class="button primary w-full">
            Sign in
        </button>
    </form>
    -->
    <div class="flex flex-col space-y-4 justify-center">
        <span class="button primary flex flex-wrap justify-center space-x-2">
            <img src="{{ asset('build/images/ms.png') }}" alt="Microsoft Logo"/>
            <a href="{{ path('connect_azure_start') }}" class="font-semibold">
                {% trans %}
                Sign In with Microsoft
                {% endtrans %}
            </a>
        </span>
        <span class="button bg-white text-black flex flex-wrap justify-center content-center space-x-2">
            <img src="{{ asset('build/images/google.png') }}" alt="Google Logo"/>
            <a href="{{ path('connect_google_start') }}" class="font-semibold">
                {% trans %}
                    Sign In with Google
                {% endtrans %}
            </a>
        </span>
    </div>
{% endblock %}
