{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}My notes{% endtrans %}
{% endblock %}

{% block body %}
    <section class="container mx-auto">
        <nav class="pb-4">
            <ul class="block w-full text-2xl font-bold flex flex-col md:flex-row justify-center md:mx-0 md:inline-flex gap-1">
                <li class="hover:text-purple-700 dark:hover:text-green-400">
                    <a href="{{ path('my_notes') }}">{% trans %}My notes{% endtrans %}</a>
                    <span class="hidden md:inline text-purple-700 dark:text-green-400 font-medium">|</span>
                </li>
                <li>
                    <span class="text-purple-700 dark:text-green-400">
                        {% trans %}My account{% endtrans %}
                    </span>
                </li>
            </ul>
        </nav>
        <hr class="mb-4"/>
        <h1 class="text-4xl font-extrabold mb-4">
            {% trans %}My account{% endtrans %}
        </h1>

        <section>
            <article class="p-8 inline-block rounded-lg shadow overflow-hidden h-full bg-purple-100 dark:bg-gray-900">
                <div class="flex flex-row justify-center">
                    <div class="rounded-full bg-purple-700 text-white dark:text-black dark:bg-green-400 w-14 h-12
                    w-min-14 h-min-12 mr-4 flex items-center justify-center">
                    <span class="text-center text-gray-100 dark:text-gray-900">{{ app.user.firstname | slice(0, 1) }}{{ app.user.lastName | slice(0, 1) }}</span>
                    </div>
                </div>
                <h2 class="text-2xl font-bold mb-4 text-center">{{ app.user.firstName }} {{ app.user.lastName }}</h2>

                <h3 class="text-lg font-semibold text-purple-700 dark:text-green-400">Email</h3>
                <span>{{ app.user.email }}</span>


            </article>
        </section>
    </section>
{% endblock %}
