<div class="p-4 mt-2 bg-neutral-focus rounded-2xl flex shadow" data-controller="comment">
    <div class="rounded-full bg-secondary w-14 h-12
    w-min-14 h-min-12 mr-4 flex items-center justify-center">
        <a href="{{ path('profile', {'slug': item.author.slug}) }}" class="text-center text-secondary-content">
            {{ item.author.firstname | slice(0, 1) }}{{ item.author.lastName | slice(0, 1) }}
        </a>
    </div>
    <div class="w-full">
        <div class="w-full flex justify-between">
            <a href="{{ path('profile', {'slug': item.author.slug}) }}" class="text-lg text-neutral-content font-semibold block">
                {{ item.author.firstname }} {{ item.author.lastName }}
            </a>
            <span class="block text-sm font-light text-primary">
                {{ item.createdAt | ago }}
            </span>
        </div>
        <p class="break-all text-neutral-content">{{ item.body }}</p>

        {% if is_granted("ROLE_USER") or is_granted("COMMENT_EDIT") %}
        <div class="flex justify-end">
            <div class="dropdown dropdown-end">
                <div tabindex="0"  class="text-xl font-bold text-primary px-4">...</div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-neutral rounded-box w-52">
                    <li>
                        <a href="{{ path('comment_delete', { id: item.id }) }}" class="font-semibold text-accent-content">
                            <i class="fas fa-trash mr-2"></i>
                            {% trans %}
                                Delete
                            {% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
