<li class="inline-block rounded-lg shadow overflow-hidden h-full hover:shadow-lg transform hover:scale-105 transition duration-300
           bg-purple-100 dark:bg-gray-900">
    <div class="h-full">
        {% if isDeletable %}
        <div class="flex flex-row-reverse">
            <div class="pr-4 pt-4 hover:text-red-500">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
                </svg>
            </div>
        </div>
        {% endif %}
        <a href="{{ path }}">
            <div class="px-8 h-full {{ isDeletable ? 'pb-6' : 'py-6' }}">
                <h2 class="text-2xl font-bold">{{ item.title }}</h2>
                <div class="flex justify-between text-gray-600 text-sm font-medium flex mb-4 mt-2">
                    <p class="text-purple-700 dark:text-green-400">
                        <i class="fas fa-book"></i>
                        <span>{{ item.code }}</span>
                    </p>
                    <p>{{ item.notes | length }} notes</p>
                </div>
            </div>
        </a>
    </div>
</li>
