{% extends 'admin/base-table.html.twig' %}

{% block title %}{% trans %}Notes{% endtrans %}{% endblock %}

{% block tableTitle %}
{% trans %}Notes{% endtrans %}
{% endblock %}

{% block thead %}
    <th class="w-3/12 pb-2">{% trans %}Title{% endtrans %}</th>
    <th class="w-3/12 pb-2">{% trans %}Description{% endtrans %}</th>
    <th class="w-3/12 pb-2">{% trans %}Course{% endtrans %}</th>
    <th class="w-1/12 pb-2">{% trans %}Author{% endtrans %}</th>
    <th class="w-1/12 pb-2">{% trans %}CreatedAt{% endtrans %}</th>
    <th class="w-1/12 pb-2">{% trans %}UpdatedAt{% endtrans %}</th>
    <th class="w-1/12 pb-2 text-center"><i class="fas fa-trash"></i></th>
{% endblock %}
{% block tbody %}
    {% for item in pagination %}
        <tr class="odd:bg-gray-100 dark:odd:bg-gray-700">
            <td class="py-2 font-semibold hover:text-purple-800 dark:hover:text-green-400">{{ item.title }}</td>
            <td class="py-2 font-semibold text-justify">{{ item.description }}</td>
            <td class="py-2 font-semibold">{{ item.course.title }}</td>
            <td class="py-2 font-semibold">{{ item.author.firstName }} {{ item.author.lastName }}</td>
            <td class="py-2 font-semibold">{{ item.createdAt | date("m/d/Y H:i:s") }}</td>
            <td class="py-2 font-semibold">{{ item.updatedAt | date("m/d/Y H:i:s") }}</td>
            <td class="py-2 font-semibold text-center hover:text-purple-800 dark:hover:text-green-400">
                <a href="{{ path('note_delete', {'slug':item.slug}) }}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
