{% extends 'admin/base-table.html.twig' %}

{% block title %}{{ entities | trans }}{% endblock %}

{% block tableTitle %}
    {{ entities | trans }}
{% endblock %}

{% block button %}
    <div class="flex justify-end mb-4">
        <a href="{{ path(targetController ~ '_create') }}" class="button primary">
            <i class="fas fa-plus"></i>
            <span>{{ createButtonText | trans }}</span>
        </a>
    </div>
{% endblock %}

{% block thead %}
    <th class="w-8/12 pb-2">{% trans %}Title{% endtrans %}</th>
    <th class="w-2/12 pb-2">{% trans %}CreatedAt{% endtrans %}</th>
    <th class="w-2/12 pb-2">{% trans %}UpdatedAt{% endtrans %}</th>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr class="odd:bg-gray-100 dark:odd:bg-gray-700">
            <td class="py-2 font-semibold hover:text-purple-800 dark:hover:text-green-400">
                <a href="{{ path(targetController ~ '_edit', {'id': item.id}) }}">
                    {{ item.title }}
                </a>
            </td>
            <td class="py-2 font-semibold">{{ item.createdAt | date("m/d/Y H:i:s") }}</td>
            <td class="py-2 font-semibold">{{ item.updatedAt | date("m/d/Y H:i:s") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
