{% extends 'base.html.twig' %}

{% block title %}Note View{% endblock %}

{% block body %}
    <section class="text-center mb-8">
        <h1 class="text-5xl text-bold mb-2">{{ note.title | capitalize }}</h1>
        <div class="flex justify-center mb-2">
            <a class="pill primary">
                {{ note.author.firstName }} {{ note.author.lastName }}
            </a>
            <a class="pill primary light">
                {{ note.course.title }} - {{ note.createdAt | date('Y') }}
            </a>
        </div>
    </section>
    <section class="lg:w-2/3 xl:w-2/5 px-4 lg:px-0 lg:mx-auto">
        <h2 class="text-3xl text-bold text-purple-700 dark:text-green-400">Description</h2>
        <article class="content mt-2 mb-4">
            {{ note.description | markdown }}
        </article>
        <div class="flex justify-between pb-4">
            <div class="flex space-x-2">
                <a href="{{ path('note_download', {'slug':note.slug}) }}" target="_blank" class="button primary">
                    Download
                </a>
                <a class="button primary light">
                    Report
                </a>
                {% if app.user == note.author or "ROLE_ADMIN" in app.user.roles%}
                <a href="{{ path('note_edit', {'slug':note.slug}) }}" class="button danger">
                    Edit
                </a>
                <a href="{{ path('note_delete', {'slug':note.slug}) }}" class="button danger light">
                    Delete
                </a>
                {% endif %}
            </div>
            <div class="mt-2">
                <span class="button warning">Score: {{ note.averageScore }}</span>
            </div>
        </div>
        <hr />
    </section>

    <section class="has-text-centered">
        <embed
                class="w-3/4 h mx-auto"
                src="{{ uploaded_asset(note) }}"
                type="{{note.noteFile.mimeType}}"
        />
    </section>
{% endblock %}
