{% extends 'base.html.twig' %}

{% block title %}{{ note.title }}{% endblock %}

{% block body %}
    <section class="text-center mb-8">
        <h1 class="text-5xl text-bold mb-2">{{ note.title | capitalize }}</h1>
        <div class="flex justify-center mb-2">
            <a href="{{ path('profile', {'id': note.author.id}) }}" class="pill primary block">
                <i class="fas fa-user-edit"></i>
                <span>{{ note.author.firstName | capitalize }} {{ note.author.lastName | capitalize }}</span>
            </a>
            <a href="{{ path('browse_note', {
                'faculty':note.course.study.faculty.title,
                'study':note.course.study.title,
                'year':note.course.year.title,
                'course':note.course.title,
            }) }}" class="pill primary light block">
                <i class="fas fa-book"></i>
                <span>{{ note.course.code }}</span>
            </a>
            <a class="pill primary block">
                {% set year = note.wroteAt | date('Y') %}
                <i class="fas fa-calendar"></i>
                <span>{{ year }} - {{ year + 1 }}</span>
            </a>
        </div>
    </section>
    <section class="lg:w-2/3 xl:w-2/5 px-4 lg:px-0 lg:mx-auto">
        <h2 class="text-3xl text-bold text-purple-700 dark:text-green-400">
            {% trans %}
            Description
            {% endtrans %}
        </h2>
        <article class="content mt-2 mb-4">
            {{ note.description | markdown }}
        </article>
        <div class="flex pb-4 flex-wrap sm:justify-between justify-around">
            <div class="flex space-x-2">
                <a href="{{ path('note_download', {'slug':note.slug}) }}" target="_blank" class="button primary block">
                    <i class="fas fa-download"></i>
                    <span>
                        {% trans %}
                        Download
                        {% endtrans %}
                    </span>
                </a>
                <a href="{{ path('report_create', {'slug': note.slug}) }}" class="button primary light block">
                    <i class="fas fa-flag"></i>
                    <span>
                        {% trans %}
                        Report
                        {% endtrans %}
                    </span>
                </a>
                {% if app.user == note.author or "ROLE_ADMIN" in app.user.roles%}
                <a href="{{ path('note_edit', {'slug':note.slug}) }}" class="button danger block">
                    <i class="fas fa-pen"></i>
                    <span>
                        {% trans %}
                            Edit
                        {% endtrans %}
                    </span>
                </a>
                <a href="{{ path('note_delete', {'slug':note.slug}) }}" class="button danger light block">
                    <i class="fas fa-trash"></i>
                    <span>
                        {% trans %}
                            Delete
                        {% endtrans %}
                    </span>
                </a>
                {% endif %}
            </div>
            {% if note.author != app.user %}
            <div class="button warning" data-controller="review">
                <span class="hidden">{{ path('review_create', {'slug': note.slug}) }}</span>
                {% if userReview is not null %}
                    {% for i in 0..4 %}
                        {% if i < userReview.score %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <hr />
    </section>

    <section id="embed-section" class="py-4 mx-auto 8lg:w-2/3 xl:w-2/5">
        <embed
                class="h-full w-full"
                src="{{ uploaded_asset(note) }}"
                type="{{ note.noteFile.mimeType }}"
        />
    </section>

    <section class="lg:w-2/3 xl:w-2/5 px-4 lg:px-0 lg:mx-auto">
        <hr class="mb-4" />
        <div class="flex flex-col space-y-4">
            {% for item in pagination %}
                {% include ('/component/comment/comment.html.twig') %}
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination) }}

        <div class="mt-4">
            <div class="bg-gray-100 dark:bg-gray-900 dark:text-white rounded-2xl p-8">
                <h2 class="text-3xl text-center text-bold text-purple-700 dark:text-white mb-4">
                    {% trans %}
                        Post a comment
                    {% endtrans %}
                </h2>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
