<nav class="flex flex-row justify-between">
    <div class="flex flex-rows">
        <a href="{{ path('home') }}" class="hidden lg:block">
            <img
                    class="mr-8"
                    src="{{ asset('build/images/logo-communote.png') }}"
                    alt="
                    {% trans %}A note sharing website for college students{% endtrans %}
                    "
                    width="200"
                    height="144"
            >
        </a>

        <ul class="inline-flex content-center gap-x-2 text-md font-medium">
            <li class="block py-4 px-2">
                <i class="fas fa-home"></i>
                <a href="{{ path('home') }}">
                    {% trans %}Home{% endtrans %}
                </a>
            </li>

            <li class="block py-4 px-2">
                <i class="fas fa-folder-open"></i>
                <a href="{{ path('browse_faculty') }}">
                    {% trans %}Browse{% endtrans %}
                </a>
            </li>
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
    <ul class="inline-flex py-2 content-center gap-x-2 text-md font-medium">
        <li>
            <a href="{{ path('note_create') }}" class="button primary light block">
                <i class="fas fa-pen"></i>
                <span>
                    {% trans %}Write a note{% endtrans %}
                </span>
            </a>
        </li>

        <!-- TODO: Fix the dropdown on mobile -->
        <li
                data-controller="navbar-dropdown"
                data-navbar-dropdown-target="parent"
                class="inline-block relative px-4 py-2 text-md rounded-lg"
        >
            <span data-navbar-dropdown-target="button" class="lg:inline font-semibold cursor-pointer">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </span>
            <ul
                    data-navbar-dropdown-target="dropdown"
                    class="block absolute p-4 z-10 inset-y-10 left-0 rounded-lg bg-white dark:bg-gray-900 shadow h-32
                    w-30 text-black dark:text-white invisible"
            >
                <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                    <a href="{{ path('my_notes') }}">{% trans %}My notes{% endtrans %}</a>
                </li>
                <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                    <a href="{{ path('my_account') }}">{% trans %}My account{% endtrans %}</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                    <a href="{{ path('admin_overview') }}">{% trans %}Admin section{% endtrans %}</a>
                </li>
                {% endif %}
                <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                    <a href="{{ path('logout') }}">{% trans %}Sign Out{% endtrans %}</a>
                </li>
            </ul>
        </li>
    </ul>

    {% else %}

    <div class="flex justify-center h-10 mt-2 mr-2">
        <a href="{{ path('azure_connect') }}" class="button primary flex flex-wrap space-x-2 font-semibold">
            <img src="{{ asset('build/images/ms.png') }}" alt="Microsoft Logo" class="w-6 h-6"/>
        <span>{% trans %}Sign In{% endtrans %}</span>
        </a>
    </div>

    {% endif %}
</nav>
