<nav class="navbar bg-neutral text-neutral-content">
    <div class="flex flex-none mx-2">
        <a href="{{ path('home') }}" class="hidden lg:block">
            <img
                    class="mr-8"
                    src="{{ asset('build/images/logo-communote.png') }}"
                    alt="
                    {% trans %}A note sharing website for college students{% endtrans %}
                    "
                    width="200"
                    height="144"
            >
        </a>
    </div>

    <div class="flex-1">
        <div class="items-stretch">
            <a href="{{ path('home') }}" class="hidden md:inline-flex btn btn-ghost">
                {% trans %}Home{% endtrans %}
            </a>

            {% if app.user %}
            <a href="{{ path('browse_faculty') }}" class="btn btn-ghost">
                {% trans %}Browse{% endtrans %}
            </a>
            {% endif %}
        </div>
    </div>

    {% if is_granted("ROLE_USER") %}
    <div class="flex-none">
        <div class="mr-2 hidden md:block">
            <a href="{{ path('note_create') }}" class="btn btn-primary">
                {% trans %}Write a note{% endtrans %}
            </a>
        </div>

        <div class="dropdown dropdown-end">
            <div tabindex="0" class="btn btn-ghost">
                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                <i class="fas fa-chevron-down text-primary ml-2"></i>
            </div>
            <ul
                tabindex="0"
                class="p-2 shadow menu dropdown-content bg-neutral rounded-box w-52"
            >
                <li>
                    <a href="{{ path('note_create') }}" class="btn btn-primary md:hidden">
                        {% trans %}Write a note{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="btn btn-ghost" href="{{ path('profile_me') }}">{% trans %}My profile{% endtrans %}</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a class="btn btn-ghost" href="{{ path('admin_overview') }}">{% trans %}Admin section{% endtrans %}</a>
                </li>
                {% endif %}
                <li>
                    <a class="btn btn-ghost" href="{{ path('logout') }}">{% trans %}Sign Out{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>

    {% else %}

    <div class="flex-none">
        <a href="{{ path('login') }}" class="btn btn-primary flex">
            {% trans %}Sign In{% endtrans %}
        </a>
    </div>

    {% endif %}
</nav>
