<nav class="flex flex-row justify-between">
    <div class="flex flex-rows">
        <a href="{{ path('home') }}" class="hidden lg:block">
            <img
                    class="mr-8"
                    src="{{ asset('build/images/logo-communote.png') }}"
                    alt="
                    {% trans %}A note sharing website for college students{% endtrans %}
                    "
                    width="200"
                    height="144"
            >
        </a>

        <div class="inline-flex content-center gap-x-2 text-md font-medium">
            <a href="{{ path('home') }}" class="py-4 px-2">
                <i class="fas fa-home"></i>
                <span>{% trans %}Home{% endtrans %}</span>
            </a>

            <a href="{{ path('browse_faculty') }}" class="py-4 px-2">
                <i class="fas fa-folder-open"></i>
                <span>{% trans %}Browse{% endtrans %}</span>
            </a>
        </div>
    </div>

    {% if is_granted("ROLE_USER") %}
    <div class="inline-flex py-2 content-center gap-x-2 text-md font-medium">
        <div>
            <a href="{{ path('note_create') }}" class="button primary light block">
                <i class="fas fa-pen"></i>
                <span>
                    {% trans %}Write a note{% endtrans %}
                </span>
            </a>
        </div>

        <div
                data-controller="navbar-dropdown"
                data-navbar-dropdown-target="parent"
                class="inline-block px-4 py-2 text-md rounded-lg"
        >
            <span data-navbar-dropdown-target="button" class="lg:inline font-semibold cursor-pointer">
                {{ app.user.firstName }} {{ app.user.lastName }}
                <i class="fas fa-chevron-down text-purple-800 dark:text-green-400"></i>
            </span>
            <div class="absolute">
                <ul
                        data-navbar-dropdown-target="dropdown"
                        class="flex flex-col p-4 z-10 top-0 left-0 right-0 rounded-lg bg-white dark:bg-gray-900 shadow
                           text-black dark:text-white invisible relative"
                >
                    <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                        <a href="{{ path('profile_me') }}">{% trans %}My profile{% endtrans %}</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                        <a href="{{ path('admin_overview') }}">{% trans %}Admin section{% endtrans %}</a>
                    </li>
                    {% endif %}
                    <li class="py-1 hover:text-purple-700 dark:hover:text-green-400">
                        <a href="{{ path('logout') }}">{% trans %}Sign Out{% endtrans %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% else %}

    <div class="flex justify-center h-10 mt-2 mr-2">
        <a href="{{ path('azure_connect') }}" class="button primary flex flex-wrap space-x-2 font-semibold">
            <img src="{{ asset('build/images/ms.png') }}" alt="Microsoft Logo" class="w-6 h-6"/>
        <span>{% trans %}Sign In{% endtrans %}</span>
        </a>
    </div>

    {% endif %}
</nav>
