<nav class="flex flex-row justify-between">
    <div class="flex flex-rows">
        <a href="{{ path('home') }}" class="hidden lg:block">
            <img
                    class="mr-8"
                    src="{{ asset('build/images/logo-communote.png') }}"
                    alt="Un site de partage de notes pour étudiants du supérieur"
                    width="200"
                    height="144"
            >
        </a>

        <ul class="inline-flex content-center gap-x-2 text-md font-medium">
            <li>
                <a href="{{ path('home') }}" class="py-4 px-2 block">Home</a>
            </li>

            <li>
                <a href="{{ path('browse_faculty') }}" class="py-4 px-2 block">Browse</a>
            </li>
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
    <ul class="inline-flex py-2 content-center gap-x-2 text-md font-medium">
        <li>
            <a href="{{ path('note_create') }}" class="button primary light inline-flex">
                <svg class="lg:hidden" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                </svg>
                <span class="hidden lg:inline">Write a note</span>
            </a>
        </li>

        <!-- TODO: Fix the dropdown on mobile -->
        <li class="inline-block relative px-4 py-2 text-md rounded-lg"
        >
            <svg class="lg:hidden" style="width:24px;height:42px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
            </svg>
            <span class="hidden lg:inline"></span>
            <ul
                    class="absolute p-4 -inset-x-32 lg:-inset-x-8 rounded-lg bg-white shadow"
            >
                <li class="py-1 hover:text-purple-700">
                    <a href="{#{{ path('my-course') }}#}">My courses</a>
                </li>
                <li class="py-1 hover:text-purple-700">
                    <a href="{#{{ path('my-note') }}#}">My notes</a>
                </li>
                <li class="py-1 hover:text-purple-700">
                    <a href="{#{{ path('my-account') }}#}">My account</a>
                </li>
                <li class="py-1 hover:text-purple-700">
                    <a href="{{ path('logout') }}">Sign out</a>
                </li>
            </ul>
        </li>
    </ul>

    {% else %}

    <div class="flex justify-center h-10 mt-2 mr-2">
        <a href="{{ path('azure_connect') }}" class="button primary flex flex-wrap space-x-2 font-semibold">
            <img src="{{ asset('build/images/ms.png') }}" alt="Microsoft Logo" class="w-6 h-6"/>
        <span>Sign In</span>
        </a>
    </div>

    {% endif %}
</nav>
